<ion-header>
  <ion-toolbar>
    <ion-title>Su Carro de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list lines="none" *ngFor="let item of datos">
    <ion-grid>
        <ion-row class="cell-4">
          <ion-col>
            <div>
                Servicio:
            </div>
          </ion-col>
          <ion-col>
            <div>
                {{item.ProductName}}
            </div>
          </ion-col>
          <ion-col>
            <div>
                {{item.Precio | currency}}  
            </div>
          </ion-col>
          <ion-col class="">
              <ion-checkbox checked="true" color="primary" border-radius></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>         
  </ion-list>        
</ion-content>
