<ion-header>
  <ion-toolbar>
    <ion-title>
      Solucionador Express
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/industrial2.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Te ayudaremos</ion-card-subtitle>
        <ion-card-title>Que hacemos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>* Prestamos servicios express para solucionar tus problemas inmediatos en electricidad de media y baja tensión, sanitarios, pintura y albañilería,otros.</p>
        <p>* Ponemos a tu disposición una gama variada de profesionales.</p><br>
        <p>* Reducimos tus tiempos de espera</p><br>
        <p>* Te brindamos multiples alternativas</p><br>
        <p>* Reducimos tus costos</p>
        <p>* Pactamos tus formas de Pago, según el o los servicios entregados</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Recursos</ion-label>
      </ion-list-header>
      <ion-item href="http://www.geophorma.com.ar">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Cotizaciones</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="cart"></ion-icon>
        <ion-label>Carro Compras</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="clipboard"></ion-icon>
        <ion-label>Proyectos</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="call"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
