<ion-header>
  <ion-toolbar>
    <ion-title>tab6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="button button-block button-positive" (click)="ionViewDibLoad()">Aceptar</ion-button>
  <ion-list lines="none" *ngFor="let usuario of usuarios">
    <ion-grid>
        <ion-row class="cell-4">
          <ion-col>
            <div>
              {{usuario.id}}
            </div>
          </ion-col>
          <ion-col>
            <div>
                {{usuario.name}}
            </div>
          </ion-col>
          <ion-col>
            <div>
                {{usuario.email}}  
            </div>
          </ion-col>
          <ion-col class="">
              <ion-checkbox radius="false" color="primary" border-radius></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>         
  </ion-list>          
</ion-content>
